* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin:0;
  padding:0;
  font-family: sans-serif;
}

#topBar {
  position: fixed;
  z-index:11;
  top: 0;
}

#topBar .menuBar {
  position: fixed;
  background: #009974;
  top: 0;
  height: 33px;
  z-index: 100;
  left:0;
  right:0;
  transition: all 0.3s ease-in;
  visibility: visible;
}
#topBar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topBar.outOfView .menuBar {
  top: -65px;
  visibility: hidden;
}

#topBar.outOfView.navMenu .menuBar {
  top: -65px;
  visibility: visible;
}

#topBar div.logo {
  margin: 3px;
  padding-left: 5px;
  float: left;
  overflow: hidden;
}

@media screen and (max-width: 1300px){
  #topBar div.logo {
    height: 30px;
  }
}

ul {
  padding-left: 20px;
}

#topBar ul.navigation {
  margin: 2px;
  position: absolute;
  right: 0;
}
#topBar ul.navigation a {
  color: white;
}
#topBar ul.navigation a.github {
  color: #333; 
}

#topBar ul.navigation a:hover {
  color: green;
}

#topBar a.menu {
  display: none;
}

.header {
  position: relative;
  left:0;
  right: 0;
  width: 100%;
  padding: 0;
  min-height:260px;
}

li.redisconf {
  background: url('/img/redisconf2016.png') 0 4px no-repeat;
}

li.nginxconf {
  background: url('/img/nginxconf2016.png') 3px 4px no-repeat;
}

.announcement {
  border: 6px solid #f0ec8e;
  border-radius: 10px;
  overflow: auto;
  background-color: #fffcc2;
  min-height: 70px;
  margin: 5px;
  font-family: sans-serif;
  font-size: 110%;
  
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2em;
  
}
ul.announcement {
  list-style: none;
  padding-left: 0;
}
ul.announcement li {
  margin-left: 4px;
  margin-top: 4px;
  padding-left: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 30px;
}

.header img.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header a.logo-overlay {
  display: block;
  position: absolute;
  top: 95px;
  left: 10px;
  width: 400px;
  height: 75px;
  z-index: 2;
  /*background: rgba(0,0,255,0.4);*/
}

.header a, .header a:hover, .header a:active {
  background: transparent;
}

.header div.nginx {
  position: absolute;
  z-index: 2;
  top:110px;
  right: 5px;
}

.header .http2 {
  position: absolute;
  z-index: 2;
  top: 3px; 
  right: 3px;
}

.header ul.navigation {
  position: relative;
  z-index: 1;
  padding: 0;
  overflow: hidden;
  list-style: none;
  padding:0;
  margin:0;
  padding-left: 240px;
  padding-top: 185px;
}

ul.navigation li.tocBox {
  display: none;
}

ul.navigation li {
  float: left;
  margin:0 0.25em 0 0.25em;
  padding-bottom:0.5em;
}
ul.navigation a {
  font-size:1.4em;
  padding: 0.2em;
  display: block;
  padding-top: 0;
  text-align: right;
}

@media screen and (max-width: 550px){
  .header div.nginx {
    top:30px;
    right: 100px;
  }
  
  img.benchmark_graph {
    width:300px;
  }
  
}

@media screen and (max-width: 520px){
  .header .http2 {
    display: none;
  }
  .header div.nginx {
    right: 5px;
  }
  iframe.video {
    width: 300px !important;
    height: 169px !important;
  }
}
@media screen and (max-width: 460px){
  .header div.nginx {
    display: none;
  }
  .header img.logo {
    width: 250px;
    height: 155px;
  }
  
  .header a.logo-overlay {
    top: 64px;
    left: 10px;
    width: 250px;
    height: 47px;
  }
  
  .header ul.navigation {
    padding-left: 5px;
    padding-top: 170px;
  }
}

a.github {
  color:black; 
}
.pageLayout {
  margin: 0;
  margin-left: 7%;
  padding-right: 270px;
  position: relative;
  top: 0;
}

.sidebar, #sidebarScrollReference {
  position: absolute;
  top: 0;
  right: 5px;
}

.sidebarSticky {
  position: fixed;
  top: 40px;
}

.page {
  margin: 0;
  min-width: 100px;
}

.footer {
  margin: 0 10px 0 10px;
}

#topBar .shroud {
  display: none;
}

#topBar.navMenu .shroud {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  bottom:0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}

#topBar.outOfView .tableOfContentsContainer {
  top: 10px;
}
#topBar.outOfView .tableOfContentsContainer ul.tableOfContents {
  max-height: calc(100vh - 43px);
}

#topBar .tableOfContentsContainer {
  position: fixed;
  top: 40px;
  visibility: hidden;
  right: -150px;
}

#topBar.contentsMenu .tableOfContentsContainer {
  visibility: visible;
  right: 5px;
  transition: all 0.3s ease-in;
  z-index: 10;
}

#topBar.contentsMenu ul.navigation {
  display: none !important;
}

#topBar.navMenu div.tableOfContents {
  display: block;
}

@media screen and (max-width: 900px) {
  #topBar a.menu {
    display: block;
    position: absolute;
    right: 8px;
    top: 1px;
    background: url('/icons/bars.png') 0 0 no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  #topBar ul.navigation {
    visibility: hidden;
    display: block;
    position: fixed;;
    top: 33px;
    margin: 0;
    right: -150px;
    z-index: 1;
  }
  
  #topBar.outOfView ul.navigation {
    top: 0;
  }
  
  #topBar.navMenu ul.navigation {
    visibility: visible;
    right: 0;
    transition: all 0.3s ease-in;
  }
  
  #topBar ul.navigation a {
    padding-right:0.5em;
  }
  
  #topBar ul.navigation li {
    background: #009974;
    padding:1px;
    display: block;
    float: none;
  }
  #topBar ul.navigation li:first-child {
    padding-top:8px;
  }
  
  #topBar ul li.tocBox {
    display: none;
  }
  
  iframe.video {
    width: 450px;
    height: 253px;
  }
  
}

@media screen and (max-width: 800px){
  .pageLayout {
    padding-right: 0;
    margin-left: 4%;
    margin-right: 4%;
    overflow: auto;
  }
  .footer, .page p, .page ul, div.highlight pre {
    overflow: auto;
  }
  
  #configuration-directives > li {
    overflow: auto;
  }
  
  .sidebar {
    display: none; 
  }
  
  #topBar.navMenu ul li.tocBox {
    display: block;
    font-size: 1.4em;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .page div.nchan-stub-status {
    overflow: auto;
  }
}

.page img.logo {
  display: none;
}

img {
  border:0;
}

h1, h2, h3, h4, h5 {
  color: #009974;
  background: url('/img/line.png') bottom right no-repeat;
  padding:0;
  margin-bottom:0.3em;
  margin-top:-1em;
  padding-top: 2.1em;
}

li h1, li h2, li h3, li h4, li h5 {
  padding-top: 2em;
  margin-top: -1.5em;
}

h1 {
  background-position: 100% 100%;
  font-size: 27px;
  clear: right;
}
h2 {
  background-position: 110% 100%;
  font-size: 25px;
  clear: right;
}
h3{
  background-position: 130% 100%;
  font-size: 18px;
}
h4{
  background-position: 150% 100%;
  font-size: 14px;
}
h5{
  background-position: 170% 100%;
  font-size: 12px;
}

.tocBox {
  border: 1px solid #aaaaaa;
  border-radius: 7px;
  background: #f9f9f9 !important;
}

div.tableOfContents {
  top: 40px;
  left: 0;
  width: 250px;
  margin-left: 30px;
}

.page div.tableOfContents {
  min-width: 250px;
  float: none;
}

.tableOfContentsHidden ul.tableOfContents {
  display: none;
}

.tableOfContents a.toggle {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 70%;
}
.tableOfContents a.toggle:before {
  content: "[ hide ]";
}

.tableOfContentsHidden a.toggle:before {
  content: "[ show ]";
}

.tableOfContents li a {
  color: #00674e;
}

.tableOfContents ul{
  list-style: none;
  padding-left:20px;
}
ul.tableOfContents {
  padding:10px;
  margin: 0px;
  max-height: calc(100vh - 70px);
  overflow: auto;
}
ul.tableOfContents li {
  padding-bottom:3px;
}
.tableOfContents a {
  text-decoration: none;
}

div.tableOfContents h2 {
  text-align: center;
  background: none;
  font-size: 15px;
  color: black;
  padding: 1px;
  margin:1px;
}

p {
  margin-top:0.5em;
  margin-bottom:0.5em;
}

a { color:#009974; }
a:hover{ background:#EFE; }
a:active{ color:#0a0; }

a#about {
  padding-top: 2.2em;
  margin-top: -2.2em;
}

img.benchmark_graph {
  float: right;
}

#download-packages + ul {
  padding-left: 10px;
}

#download-packages + ul li {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 7px;
  padding-left: 20px;
  background-repeat: no-repeat; 
  list-style-position: inside;
  list-style: none;
}

#download-packages + ul li:nth-child(1) {
  background-position: 0px 1px;
  background-image: url('/icons/logo_archlinux.png');
}
#download-packages + ul li:nth-child(2) {
background-position: 0px 0px;
  background-image: url('/icons/logo_apple.png');
}
#download-packages + ul li:nth-child(3) {
  background-position: 0px 4px;
  background-image: url('/icons/logo_debian.png');
}
#download-packages + ul li:nth-child(4) {
  background-position: 0px 4px;
  background-image: url('/icons/logo_ubuntu.png');
}
#download-packages + ul li:nth-child(5) {
  background-position: 0px 2px;
  background-image: url('/icons/logo_fedora.png');
}
#download-packages + ul li:nth-child(6) {
  margin-left:20px;
  padding-left: 0px;
  list-style: square;
}


#configuration-directives + ul {
  padding-left: 10px;
  list-style: none;
}

#configuration-directives + ul li {
  background-color: #f0f5ff;
  margin: 5px 10px 10px 0; 
  padding: 7px;
}

#configuration-directives + ul li .description {
  color: #474;
}

#configuration-directives + ul li a.directive {
  font-weight:bold;
  color: #454;
  font-size: 120%;
  font-family: monospace;
  padding-top: 2.2em;
  margin-top: -2.2em;
}
#configuration-directives + ul li a.directive {
  background: transparent;
}

#configuration-directives + ul li .type {
  font-family: serif;
  font-style: italic;
}

#configuration-directives + ul li p {
  margin: 0;
  padding:0;
  padding-bottom: 5px;
}
#configuration-directives + ul li blockquote {
  margin: 0;
  padding: 0;
}


code, pre {
  border: 2px solid #ddd;
  background: #eee;
  margin:0;
  padding:0;
  text-indent: 0;
}

pre {
  white-space: pre-wrap;
}

pre code {
  border: 0;
  margin:0;
  padding:0;
}


p.upgrade img {
  float: right;
  border: 1px solid #ccc;
  margin-bottom:5px;
  padding:2px;
}


table.differences {
  clear: right;
  border: 1px solid #555;
}

table.differences td, table.differences th {
  border: 1px solid #888;
}

table.differences th {
  background-color: #ededed;
}

table.differences .pushmodule {
  background-color: #e6ffe6;
}
table.differences th.pushmodule {
  background-color: #aaf2aa;
}

table.differences .nchan {
  background-color: #e6fff8;
}
table.differences th.nchan {
  background-color: #aaf2de;
}

p.footnote {
  color: #222;
  font-size: 80%;
}

.relevant-directives {
  font-size: 80%;
  color: #444;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0.4em;
  margin-right:0.4em;
  background-color: #f0f5ff;
}
.relevant-directives a.directive {
  font-family: monospace;
  color: #454;
  text-decoration: none;
}

table.nchan-stub-status {
  border-collapse: collapse;
  border: 1px solid #555;
  text-align: left;
}
table.nchan-stub-status td p {
  margin: 0;
}
table.nchan-stub-status td, table.nchan-stub-status th {
  border: 1px solid #888;
}
table.nchan-stub-status th {
  background-color: #ededed;
  font-family: monospace;
  white-space: pre;
}









.intrigue {
  font-style: italic;
  font-size: 140%;
}


.filler {
  color: #ccc;
}






dl.checksum {
  color: #777;
  margin-top:0;
  margin-left:1em;
  text-align:left;
  font-family: monospace;
  font-size: 90%;
}
dl.checksum dt {
  clear: both;
  float:left;
  width: 4em;
}
div.info {
  /*display: none;*/
}

div.header {
  margin-right:210px;
  position:relative;
  z-index:10;
}

div.everywhere {
  position:relative; 
  margin:2em 235px 10px 0.8em;
  overflow:auto;
}
div.beg {
  position: fixed;
  z-index: 0;
  top:19em;
  right:5px;
  width: 14em;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.beg .newmoney{
  font-size: 10px;
  font-family: monospace;
  padding-bottom: 1em;
}
div.beg img {
  border:0;
}


.fixed {
  position: fixed !important;
}



img.someone {
  border:1px solid #A4AFAE;
  float:left;
  margin-right:0.5em;
  padding:0.2em;
  background-color: white;
  height: auto;
  max-width:30%;
}

.footer img.btc-QR {
  float: left;
  height: auto;
  max-width: 30%;
}

.footer i{
  font-size: 35px;
}

@media screen and (max-width: 550px){
  #contribute .paymentName {
    display: none;
  }
}

.closer {
  margin-top:1em;
  padding: 0.5em;
  background: #eee;
  clear: both;
  text-align: center;
}

