body {
  position: relative;
  top: 0;
  left: 0;
  margin:0;
  padding:0;
}

.header {
  position: relative;
  left:0;
  right: 0;
  width: 100%;
  padding: 0;
  min-height:260px;
}

.redisconf {
  background: url('/img/redisconf2016.png') 5px 5px no-repeat;
}

.announcement {
  border: 6px solid #f0ec8e;
  border-radius: 10px;
  overflow: auto;
  background-color: #fffcc2;
  padding-left: 200px;
  min-height: 70px;
  margin: 5px;
  font-family: sans-serif;
  font-size: 110%;
}

.header img.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header a.logo-overlay {
  display: block;
  position: absolute;
  top: 95px;
  left: 10px;
  width: 400px;
  height: 75px;
  z-index: 2;
}

.header a, .header a:hover, .header a:active {
  background: transparent;
}

.header div.nginx {
  position: absolute;
  z-index: 2;
  top:110px;
  right: 5px;
}

.header .http2 {
  position: absolute;
  z-index: 2;
  top: 3px; 
  right: 3px;
}

@media screen and (max-width: 550px){
  .header div.nginx {
    top:30px;
    right: 100px;
  }
}

@media screen and (max-width: 450px){
  .header .http2 {
    display: none;
  }
  .header div.nginx {
    right: 5px;
  }
}
@media screen and (max-width: 355px){
  .header div.nginx {
    left: 230px;
  }
}

.header ul.navigation {
  position: relative;
  z-index: 1;
  padding: 0;
  overflow: hidden;
  list-style: none;
  padding:0;
  margin:0;
  padding-left: 240px;
  padding-top: 185px;
  border: 0px solid blue;
}

ul.navigation li {
  float: left;
  margin:0 0.25em 0 0.25em;
  padding-bottom:0.5em;
}
ul.navigation a {
  font-size:1.4em;
  padding:0.2em;
}
a.github{
  color:black;
}

.page, .footer {
  margin: 0 10px 0 10px;
}

.page img.logo {
  display: none;
}

img {
  border:0;
}

h1, h2, h3, h4, h5 {
  color: #009974;
  background: url('/img/line.png') bottom right no-repeat;
  padding:0;
  margin-bottom:0.3em;
  margin-top:1.2em;
}

h1 {
  background-position: 100% 100%;
  font-size: 23px;
  clear: both;
}
h2 {
  background-position: 110% 100%;
  font-size: 20px;
  clear: both;
}
h3{
  background-position: 130% 100%;
  font-size: 18px;
}
h4{
  background-position: 150% 100%;
  font-size: 16px;
}
h5{
  background-position: 170% 100%;
  font-size: 14px;
}

p {
  margin-top:0.5em;
  margin-bottom:0.5em;
}

a { color:#009974; }
a:hover{ background:#EFE; }
a:active{ color:#0a0; }

img.benchmark_graph {
  float: right;
}

#packages + ul {
  padding-left: 20px;
}

#packages + ul li {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 7px;
  padding-left: 20px;
  background-repeat: no-repeat; 
  list-style-position: inside;
  list-style: none;
}

#packages + ul li:nth-child(1) {
  background-position: 0px 1px;
  background-image: url('/icons/logo_archlinux.png');
}
#packages + ul li:nth-child(2) {
background-position: 0px 0px;
  background-image: url('/icons/logo_apple.png');
}
#packages + ul li:nth-child(3) {
  background-position: 0px 4px;
  background-image: url('/icons/logo_debian.png');
}
#packages + ul li:nth-child(4) {
  background-position: 0px 4px;
  background-image: url('/icons/logo_ubuntu.png');
}
#packages + ul li:nth-child(5) {
  background-position: 0px 2px;
  background-image: url('/icons/logo_fedora.png');
}
#packages + ul li:nth-child(6) {
  margin-left:20px;
  padding-left: 0px;
  list-style: square;
}


#configuration-directives + ul {
  padding-left: 10px;
  list-style: none;
}

#configuration-directives + ul li {
  background-color: #f0f5ff;
  margin: 5px 10px 10px 0; 
  padding: 7px;
}

#configuration-directives + ul li .description {
  color: #474;
}

#configuration-directives + ul li a.directive {
  font-weight:bold;
  color: #454;
  font-size: 120%;
  font-family: monospace;
} 

#configuration-directives + ul li .type {
  font-family: serif;
  font-style: italic;
}

#configuration-directives + ul li p {
  margin: 0;
  padding:0;
  padding-bottom: 5px;
}
#configuration-directives + ul li blockquote {
  margin: 0;
  padding: 0;
}


code, pre {
  border: 2px solid #ddd;
  background: #eee;
  margin:0;
  padding:0;
  text-indent: 0;
}

pre code {
  border: 0;
  margin:0;
  padding:0;
}


p.upgrade img {
  float: right;
  border: 1px solid #ccc;
  margin-bottom:5px;
  padding:2px;
}


table.differences {
  clear: right;
  border: 1px solid #555;
}

table.differences td, table.differences th {
  border: 1px solid #888;
}

table.differences th {
  background-color: #ededed;
}

table.differences .pushmodule {
  background-color: #e6ffe6;
}
table.differences th.pushmodule {
  background-color: #aaf2aa;
}

table.differences .nchan {
  background-color: #e6fff8;
}
table.differences th.nchan {
  background-color: #aaf2de;
}

p.footnote {
  color: #222;
  font-size: 80%;
}











.intrigue {
  font-style: italic;
  font-size: 1.4em;
}


.filler {
  color: #ccc;
}






dl.checksum {
  color: #777;
  margin-top:0;
  margin-left:1em;
  text-align:left;
  font-family: monospace;
  font-size: 90%;
}
dl.checksum dt {
  clear: both;
  float:left;
  width: 4em;
}
div.info {
  /*display: none;*/
}

div.header {
  margin-right:210px;
  position:relative;
  z-index:10;
}

div.everywhere {
  position:relative; 
  margin:2em 235px 10px 0.8em;
  overflow:auto;
}
div.beg {
  position: fixed;
  z-index: 0;
  top:19em;
  right:5px;
  width: 14em;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.beg .newmoney{
  font-size: 10px;
  font-family: monospace;
  padding-bottom: 1em;
}
div.beg img {
  border:0;
}

div.chat {
  position:fixed;
  z-index:0;
  right:0.3em;
  top:0.3em;
  height:17em;
  border:3px solid #ddd;
  background: #f6f6ff;
  text-align:left;
  font-family: sans-serif;
  width:220px;
}

.chat ul {
  overflow:auto;
  height:16em;
  list-style: none;
  padding:0.1em;
  margin:0.1em;
  font-size:95%;
  border:1px solid #DDD;
  background: #Fcfcfc;
}

.chat li {
  margin-bottom:0.2em;
}

.chat li.notice {
  color:#666;
  padding-left:0.1em;
}
.chat li.message {
  color: black;
}
.chat li.iSay {
  color: #0002AF;
}
.chat form {
  white-space: nowrap;
  font-size:70%;
  text-align:right;
  margin:0 0.2em 0 0.2em;
}
.chat input {
  font-size:100%;
}
.chat input.submit {
  display:none;
}
.chat input.message {
  margin:0;
  color:#0002AF;
  border:2px solid #DDD;
  width:12.5em;
  
}
.chat input.username {
  float:left;
  display:inline;
  border:0;
  width:5em;
  margin-left:0.1em;
  background: transparent;
  color:#0002AF;
}






img.someone {
  border:1px solid #A4AFAE;
  float:left;
  margin-right:0.5em;
  padding:0.2em;
  background-color: white;
}

.footer img.btc-QR {
  float: left;
}

.footer i{
  font-size: 35px;
}

.closer {
  margin-top:1em;
  padding: 0.5em;
  background: #eee;
  clear: both;
  text-align: center;
}

