%ul.announcement
  %li.nginxconf
    %a(href="/nginxconf2016")="Notes"
    and
    %a(href="https://www.youtube.com/watch?v=TVgQSmqWm60")="video"
    for my talk at 
    %a(href="https://www.nginx.com/nginxconf/")="Nginx conf 2016"
    are
    %a(href="/nginxconf2016")="available here"
  %li.redisconf
    %a(href="/redisconf2016")="Notes"
    and 
    %a(href="https://www.youtube.com/watch?v=J3gVCBctDaE")="video"
    for my previous talk at
    %a(href="http://redisconference.com/")="Redisconf 2016"
    %a(href="/redisconf2016")="available here"
