%h2="Contact"
%img.someone(src="/img/notmewellmaybe.png" alt="who's that?")
:markdown
  Hello there. I'm Leo, the developer of Nchan.
  
  Do you have questions? A successful large-scale deployment? ..A failing one?   
  Found a bug? Want to submit a patch? Send money? ...Cake?
  
  Email me at [leo@nchan.io](mailto:leo@nchan.io?subject=I like Nchan), 
  or get in touch with me on [github](https://github.com/slact).
  
%h3="Support"
#contribute
  !=render "donate"
  :markdown
    If you need help or support with any aspect of Nchan, [consulting services](/support) are available.
  
  
