!!!

%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="keywords" content="nchan pub/sub pubsub server nginx websocket longpoll eventstream Server-Sent events pushmodule push module")
    %meta(name="description" content="Nchan - flexible pubsub for the modern web")
    
    %link(rel="icon" href="/icons/tiny.png" sizes="16x16" type="image/png")
    %link(rel="icon" href="/icons/small.png" sizes="32x32" type="image/png")
    %link(rel="icon" href="/icons/iphone.png" sizes="57x57" type="image/png")
    %link(rel="icon" href="/icons/nchan.svg" sizes="any" type="image/svg+xml")
    
    -#%script(type="text/javascript" src="/js/mootools-core.js")
    -#%script(type="text/javascript" src="/js/mootools-more.js")
    -#%script(type="text/javascript" src="/js/MessageMonitor.js")
    %script(type="text/javascript" src="/js/NchanSubscriber.js")
    -#%script(type="text/javascript" src="/js/DataClasses.js")
    -#%script(type="text/javascript" src="/js/common.js")
    
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    %link(rel="stylesheet" type="text/css" href="/css/pygments.css")
    
    %title="Nchan - flexible pub/sub server for the modern web."
  
  %body
    .header
      %img.logo(src='/img/nchan_logo.png' alt="Nchan logo")
      %a.logo-overlay(href='/')
      %img.http2(src='/img/http2-ready.png' alt='http/2 ready')
      .nginx
        %a(href="http://nginx.org")
          %img.nginx(src='/img/powered_by_nginx.png' alt="Powered by nginx")
      %ul.navigation
        %li
          %a(href="/#about")="about"
        %li
          %a(href="/#download")="download"
        %li
          %a(href="/upgrade")="upgrade"
        %li
          %a(href="/#configuration-directives")="configure"
        %li
          %a(href="/details")="details"
        %li
          %a(href="#contribute")="contribute"
        %li
          %a.github(href="https://github.com/slact/nchan")="github"
    
    %ul.announcement
      %li.nginxconf
        I'll be giving a talk about Nchan at the 
        %a(href="https://www.nginx.com/nginxconf/")="2016 Nginx conf"
        on Sept. 7-9, focusing on architecture, scalability, and common use cases.
      %li.redisconf
        Notes on my previous talk at
        %a(href="http://redisconference.com/")="Redisconf 2016"
        %a(href="/redisconf")="available here"
    
    #page.page=yield
    
    .footer
      %h2="Contact"
      %img.someone(src="/img/notmewellmaybe.png" alt="who's that?")
      :markdown
        Oh, hello there. I'm Leo.
        
        Do you have questions? A successful large-scale deployment? ..A failing one?   
        Found a bug? Want to submit a patch? Send money? ...Cake?
        
        Email me at [nchan@slact.net](mailto:nchan@slact.net?subject=I like Nchan), 
        or get in touch with me on [github](https://github.com/slact).
        
      %h3="Support"
      #contribute
        %img.btc-QR(src="img/bitcoin-QR.png" alt="15dLBzRS4HLRwCCVjx4emYkxXcyAPmGxM3")
        If you found Nchan useful, please consider donating to help its development.
        
        %table
          %tr
            %td
              %img(src="/icons/btc.png" alt="btc")
            %td
              Bitcoin
            %td
              %code
                %a(href="bitcoin:15dLBzRS4HLRwCCVjx4emYkxXcyAPmGxM3?label=nchan")="15dLBzRS4HLRwCCVjx4emYkxXcyAPmGxM3"
          %tr
            %td
              %img(src="/icons/pp.png" alt="paypal")
            %td
              Paypal
            %td
              %form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                %input(type="hidden" name="cmd" value="_s-xclick")
                %input(type="hidden" name="hosted_button_id" value="PN29WB8QXFP8J")
                %input(type="image" src="/icons/btn_donate_LG.gif" name="submit" alt="Donate via Paypal" title="Give me money maybe?")
                -#%img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
        %br
        
        :markdown
          If you need help or support with any aspect of Nchan, consulting services are available. Contact me at 
          [nchan@slact.net](mailto:nchan@slact.net?subject=Nchan Support).
        
      
    .closer
      %img(src="/icons/kopimi.png" alt="copy, but don't plagiarise")
