!!!

%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="keywords" content="nchan pub/sub pubsub server nginx websocket longpoll eventstream Server-Sent events")
    %meta(name="description" content="Nchan - flexible pubsub for the modern web")
    
    %script(type="text/javascript" src="/js/mootools-core.js")
    %script(type="text/javascript" src="/js/mootools-more.js")
    %script(type="text/javascript" src="/js/EventMonitor.js")
    %script(type="text/javascript" src="/js/DataClasses.js")
    %script(type="text/javascript" src="/js/common.js")
    
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    %link(rel="stylesheet" type="text/css" href="/css/pygments.css")
    
    %title="Nchan - flexible pub/sub server for the modern web."
  
  %body
    .header
      %img.logo(src='/img/nchan_logo.png' alt="Nchan logo")
      %a.logo-overlay(href='/')
      .nginx
        %a(href="http://nginx.org")
          %img.nginx(src='/img/powered_by_nginx.png' alt="Powered by nginx")
      %ul.navigation
        %li
          %a(href="/readme#page")="about"
        %li
          %a(href="/readme#download")="download"
        %li
          %a(href="/upgrade")="upgrade"
        %li
          %a(href="/readme#configuration-directives")="configure"
        %li
          %a(href="/details")="details"
        %li
          %a(href="#contribute")="contribute"
        %li
          %a.github(href="https://github.com/slact/nchan")="github"
      
    #page.page=yield
    
    .footer
      %h2="Contact"
      %p
        %img.someone(src="/img/notmewellmaybe.jpg" alt="beachy")
        :markdown
          Oh, hello there. I'm Leo. 
          
          Do you have questions? A successful large-scale deployment? ..A failing one?
          
          Found a bug? Want to submit a patch? Send money? ...Cake?
          
          Email me at  [nchan@slact.net](mailto:nchan@slact.net?subject=Nchan support)
          , or get in touch with me on [github](https://github.com/slact)
          
          ## Support
          
          Send me money!!
          
          <img src="img/bitcoin-QR.png" alt="15dLBzRS4HLRwCCVjx4emYkxXcyAPmGxM3" />
          
          bitcoin: `[15dLBzRS4HLRwCCVjx4emYkxXcyAPmGxM3](bitcoin:15dLBzRS4HLRwCCVjx4emYkxXcyAPmGxM3?label=nchan)`
      
    .closer
      %img(src="/icons/kopimi.png" alt="copy, but don't plagiarise")