!!!

%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="keywords" content="nchan pub/sub pubsub server nginx websocket longpoll eventstream Server-Sent events")
    %meta(name="description" content="Nchan - flexible pubsub for the modern web")
    
    %script(type="text/javascript" src="/js/mootools-core.js")
    %script(type="text/javascript" src="/js/mootools-more.js")
    %script(type="text/javascript" src="/js/EventMonitor.js")
    %script(type="text/javascript" src="/js/DataClasses.js")
    %script(type="text/javascript" src="/js/common.js")
    
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    %link(rel="stylesheet" type="text/css" href="/pygments.css")
    
    %title="Nchan - flexible pub/sub server for the modern web."
  
  %body
    .header
      %img.logo(src='/img/nchan_logo.png' alt="Nchan logo")
      .nginx
        %a(href="https://nginx.org")
          %img.nginx(src='/img/powered_by_nginx.png' alt="Powered by nginx")
      %ul.navigation
        %li
          %a(href="/readme#page")="about"
        %li
          %a(href="/readme#download")="download"
        %li
          %a(href="/upgrade")="upgrade"
        %li
          %a(href="/readme#configuration-directives")="configure"
        %li
          %a(href="#examples")="examples"
        %li
          %a.github(href="https://github.com/slact/nchan")="github"
      
    #page.page=yield